<%- include ('../partials/header') %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">IOT-AGI BLOGS</p>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= blog.image %>">
                    <div class="caption-full">
                        <h2>
                            <%=blog.title%>
                        </h2>
                        <p>
                            <%= blog.description %>
                        </p>
                        <h4>
                            <a href="<%= blog.link %>">
                            Read More
                            </a>
                        </h4>
                        <p>Submitted by
                            <%= blog.author.username %>
                        </p>
                        <% if(currentUser&&blog.author.id.equals(currentUser._id)) { %>
                            <a href="/blogs/<%=blog._id%>/edit" class="btn btn-warning">Edit</a>
                            <form class="delete-form" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <% }%>
                    </div>
                </div>
                <a href="/blogs">Go Back</a>
            </div>
        </div>
    </div>
    <%- include ('../partials/footer') %>