<%- include ("../partials/header") %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome To IOTAGI SERVICES SECTION</h1>
                <p>
                    <a class="btn btn-primary btn-large" href="/services/new">Add New Service</a>
                </p>
            </div>
        </header>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% services.forEach(function(service){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= service.image %>">
                        <div class="caption">
                            <h4>
                                <%= service.name %>
                            </h4>
                        </div>
                        <p>
                            <a href="/services/<%= service._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <%- include ("../partials/footer") %>